h1{
    color: rgb(59, 204, 185);
}
body{
    background-color: rgb(120, 62, 53);
}
li{
    font-size: larger;
}
a{
    font-size: large;
}
p{
    font-size: large;
}
a{
    color: rgb(232, 243, 19);
}
li{
    color: blanchedalmond;
}
p{
    color: blanchedalmond;
}